{% include 'graph/header.html' %}
    	{% load static %}
<head>

	<!-- Required meta tags -->

	<link href="{% static 'graph/plugins/datetimepicker/css/classic.css' %}" rel="stylesheet" />
	<link href="{% static 'graph/plugins/datetimepicker/css/classic.time.css' %}" rel="stylesheet" />
	<link href="{% static 'graph/plugins/datetimepicker/css/classic.date.css' %}" rel="stylesheet" />
	<link href="{% static 'graph/plugins/highcharts/css/highcharts.css' %}" rel="stylesheet" />
	<link rel="stylesheet" href="{% static 'graph/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.min.css' %}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">



</head>

		<!--end header-->

		<!--navigation-->
	<div class="page-wrapper">
			<!--page-content-wrapper-->
			<div class="page-content-wrapper">
				<div class="page-content">


				<div class="card">
								<div class="card-body">

									<div class="mb-3">
										<label class="form-label">Date Only Picker</label>
										<input class="result form-control" type="text" id="date" placeholder="Date Picker...">
                                        										<button id="recherche_service_militaire" type="button" class="btn btn-info m-1 px-5 radius-30">Rechercher</button>
									</div>

								</div>
							</div>
					<!--breadcrumb-->
					<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
						<div class="breadcrumb-title pe-3">Analyse du jour</div>
						<div class="ps-3">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb mb-0 p-0">
									<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
									</li>
									<li class="breadcrumb-item active" aria-current="page">Hors-PROD</li>
								</ol>

							</nav>
						</div>
						<div class="ms-auto">
						<button type="button" class="btn btn-outline-info m-1 radius-30 px-5"><i class='bx bx-refresh me-1'></i>Mettre à jour la dashboard</button>
							</div>
						<div class="ms-auto">
							<label for="excel_file" class="custom-file-upload">
   							 <i class="fa fa-cloud-upload"></i> Telecharger les données du jour</label>
                            <p>Last insert type  : {{ type}} </p>
                            <p>Last insert date  : {{ last_insert}} </p>
<form action="{% url 'update_dashboard' %}"  method="post" enctype="multipart/form-data">{% csrf_token %}
<label for="file">Filename:</label>
<input type="file" name="file" id="file" />
<br />
<input type="submit" name="submit" value="Submit" />
</form>
						</div>
					</div>
					<style>
						input[type="file"] {
						display: none;
					}
					.custom-file-upload {
						border: 1px solid #ccc;
						display: inline-block;
						padding: 6px 12px;
						cursor: pointer;
					}
					</style>

					<!--end breadcrumb-->

        			<div id="excel_data" class="mt-5"></div>
					<script>

			const excel_file = document.getElementById('excel_file');

			excel_file.addEventListener('change', (event) => {

				if(!['application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', 'application/vnd.ms-excel'].includes(event.target.files[0].type))
				{
					document.getElementById('excel_data').innerHTML = '<div class="alert alert-danger">Only .xlsx or .xls file format are allowed</div>';

					excel_file.value = '';

					return false;
				}

				var reader = new FileReader();

				reader.readAsArrayBuffer(event.target.files[0]);

				reader.onload = function(event){

					var data = new Uint8Array(reader.result);

					var work_book = XLSX.read(data, {type:'array'});

					var sheet_name = work_book.SheetNames;

					var sheet_data = XLSX.utils.sheet_to_json(work_book.Sheets[sheet_name[0]], {header:1});

					if(sheet_data.length > 0)
					{
						var table_output = '<table class="table table-striped table-bordered">';

						for(var row = 0; row < sheet_data.length; row++)
						{

							table_output += '<tr>';

							for(var cell = 0; cell < sheet_data[row].length; cell++)
							{

								if(row == 0)
								{

									table_output += '<th>'+sheet_data[row][cell]+'</th>';

								}
								else
								{

									table_output += '<td>'+sheet_data[row][cell]+'</td>';

								}

							}

							table_output += '</tr>';

						}

						table_output += '</table>';

						document.getElementById('excel_data').innerHTML = table_output;
					}

					excel_file.value = '';

				}

			});

			</script>


			<div class="card radius-15 overflow-hidden">
						<div class="card-header border-bottom-0">
							<div class="d-flex align-items-center">
								<div>
									<h5 class="mb-0">Na du : 11/05/2022</h5>
								</div>

							</div>
						</div>
						<div class="card-body p-0">
							<div class="table-responsive">
								<table id="khechba" class="table mb-0">
									<thead>
										<tr>

											<th>Nom du job</th>
											<th>Date</th>
											<th>Date de début</th>
											<th>Date de fin</th>
											<th>Temps d'exécution</th>
											<th>Status</th>
										</tr>
									</thead>
									<tbody >
                                         {% for data in context %}
										<tr>
											<td>{{ data.job_mem_name }}</td>
											<td>{{ data.order_date }}</td>
											<td>{{ data.start_time }}</td>
											<td>{{ data.end_time }}</td>
{#											<td> {{ data.exec_time }}</td>#}
											<td> {{ data.exec_time }}</td>
											<td><a href="javascript:;" class="btn btn-sm btn-light-success btn-block radius-30">{{ data.status }}</a>
											</td>
										</tr>
                                    {% endfor %}

									</tbody>
								</table>
							</div>
						</div>
				<hr/>
				 <nav aria-label="Page navigation example">
								<ul class="pagination round-pagination justify-content-center" >
									<li class="page-item"><a class="page-link" href="javascript:;">Previous</a>
									</li>
									<li class="page-item active"><a class="page-link" href="javascript:;javascript:;">1</a>
									</li>
									<li class="page-item"><a class="page-link" href="javascript:;">2</a>
									</li>
									<li class="page-item"><a class="page-link" href="javascript:;">3</a>
									</li>
									<li class="page-item"><a class="page-link" href="javascript:;">Next</a>
									</li>
								</ul>
							</nav>

			</div>
					<!--end row-->

					<!--end row-->

					<!--end row-->

					<!--end row-->

					<!--end row-->



				<div class="row">
					<div class="col-12 col-lg-12 col-xl-12">
							<div class="card radius-15">
								<div class="card-body">
									<div id="chart15"></div>
								</div>
							</div>
						</div>
					<div class="col-12 col-lg-12 col-xl-12">
							<div class="card radius-15">
								<div class="card-body">
									<div id="chart7"></div>
								</div>
							</div>
						</div>


				</div>
		<script>
function myFunction() {
  var x = document.getElementById("hiden");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }

}
window.onload = myFunction;
</script>


				<div id="hiden">
					<div class="row">
						<div class="col-12 col-lg-12 col-xl-12">
							<div class="card radius-15">
								<div class="card-body">
									<div id="chart9"></div>
								</div>
							</div>
						</div>

						<div class="col-12 col-lg-12 col-xl-12">
							<div class="card radius-15">
								<div class="card-body">
									<div id="chart13"></div>
								</div>
							</div>
						</div>
					</div>
						<div class="col-12 col-lg-6 col-xl-6">
							<div class="card radius-15">
								<div class="card-body">
									<div id="chart1"></div>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-6 col-xl-6">
							<div class="card radius-15">
								<div class="card-body">
									<div id="chart2"></div>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-6 col-xl-6">
							<div class="card radius-15">
								<div class="card-body">
									<div id="chart3"></div>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-6 col-xl-6">
							<div class="card radius-15">
								<div class="card-body">
									<div id="chart4"></div>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-6 col-xl-6">
							<div class="card radius-15">
								<div class="card-body">
									<div id="chart5"></div>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-6 col-xl-6">
							<div class="card radius-15">
								<div class="card-body">
									<div id="chart6"></div>
								</div>
							</div>
						</div>

					<!--end row-->
					<div class="row">

						<div class="col-12 col-lg-12 col-xl-12">
							<div class="card radius-15">
								<div class="card-body">
									<div id="chart8"></div>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-12 col-xl-12">
							<div class="card radius-15">
								<div class="card-body">
									<div id="chart11"></div>
								</div>
							</div>
						</div>


						<div class="col-12 col-lg-12 col-xl-12">
							<div class="card radius-15">
								<div class="card-body">
									<div id="chart12"></div>
								</div>
							</div>
						</div>

						<div class="col-12 col-lg-12 col-xl-12">
							<div class="card radius-15">
								<div class="card-body">
									<div id="chart14"></div>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-12 col-xl-12">
							<div class="card radius-15">
								<div class="card-body">
									<div id="chart10"></div>
								</div>
							</div>
						</div>

					</div>



					<!--end row-->



					<!--end row-->


			<!--end page-content-wrapper-->

		<!--end page-wrapper-->
		<!--start overlay-->
		<div class="overlay toggle-btn-mobile"></div>
		<!--end overlay-->
		<!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
		<!--End Back To Top Button-->
		<!--footer -->
		<div class="footer">
			<p class="mb-0">Run Hors-PROD @2022 | Developed By : <a>target="_blank">Atos</a>
			</p>
		</div>
		<!-- end footer -->
	</div>
	<!-- end wrapper -->
	<!--start switcher-->
	<div class="switcher-body">
		<button class="btn btn-primary btn-switcher shadow-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"><i class="bx bx-cog bx-spin"></i></button>
		<div class="offcanvas offcanvas-end shadow border-start-0 p-2" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling">
		  <div class="offcanvas-header border-bottom">
			<h5 class="offcanvas-title" id="offcanvasScrollingLabel">Theme Customizer</h5>
			<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
		  </div>
		  <div class="offcanvas-body">
			<h6 class="mb-0">Theme Variation</h6>
			<hr>
			<div class="form-check form-check-inline">
			  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="lightmode" value="option1" checked>
			  <label class="form-check-label" for="lightmode">Light</label>
			</div>
			<hr>
			<div class="form-check form-check-inline">
			  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="darkmode" value="option2">
			  <label class="form-check-label" for="darkmode">Dark</label>
			</div>
			  <hr>
			 <div class="form-check form-check-inline">
				<input class="form-check-input" type="radio" name="inlineRadioOptions" id="ColorLessIcons" value="option3">
				<label class="form-check-label" for="ColorLessIcons">Color Less Icons</label>
			  </div>
		  </div>
		</div>
	   </div>
	   <!--end switcher-->
	<!-- JavaScript -->

	<!-- Bootstrap JS -->
	<script src="{% static 'graph/js/bootstrap.bundle.min.js' %}"></script>

	<!--plugins-->
	<script src="{% static 'graph/js/jquery.min.js' %}"></script>
	<script src="{% static 'graph/plugins/simplebar/js/simplebar.min.js' %}"></script>
	<script src="{% static 'graph/plugins/metismenu/js/metisMenu.min.js' %}"></script>
	<script src="{% static 'graph/plugins/perfect-scrollbar/js/perfect-scrollbar.js' %}"></script>
	<!-- Vector map JavaScript -->
	<script src="{% static 'graph/plugins/vectormap/jquery-jvectormap-2.0.2.min.js' %}"></script>
	<script src="{% static 'graph/plugins/vectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
	<script src="{% static 'graph/plugins/vectormap/jquery-jvectormap-in-mill.js' %}"></script>
	<script src="{% static 'graph/plugins/vectormap/jquery-jvectormap-us-aea-en.js' %}"></script>
	<script src="{% static 'graph/plugins/vectormap/jquery-jvectormap-uk-mill-en.js' %}"></script>
	<script src="{% static 'graph/plugins/vectormap/jquery-jvectormap-au-mill.js' %}"></script>
	<script src="{% static 'graph/js/index.js' %}"></script>


	<script src="{% static 'graph/plugins/chartjs/js/Chart.min.js' %}"></script>
	<script src="{% static 'graph/plugins/chartjs/js/chartjs-custom.js' %}"></script>
	<!-- App JS -->
	<script src="{% static 'graph/js/app.js' %}"></script>
	<script>
		new PerfectScrollbar('.dashboard-social-list');
		new PerfectScrollbar('.dashboard-top-countries');
	</script>
	<script src="{% static 'graph/plugins/highcharts/js/highcharts.js' %}"></script>
	<script src="{% static 'graph/plugins/highcharts/js/highcharts-more.js' %}"></script>
	<script src="{% static 'graph/plugins/highcharts/js/variable-pie.js' %}"></script>
	<script src="{% static 'graph/plugins/highcharts/js/solid-gauge.js' %}"></script>
	<script src="{% static 'graph/plugins/highcharts/js/highcharts-3d.js' %}"></script>
	<script src="{% static 'graph/plugins/highcharts/js/cylinder.js' %}"></script>
	<script src="{% static 'graph/plugins/highcharts/js/funnel3d.js' %}"></script>
	<script src="{% static 'graph/plugins/highcharts/js/exporting.js' %}"></script>
	<script src="{% static 'graph/plugins/highcharts/js/export-data.js' %}"></script>
	<script src="{% static 'graph/plugins/highcharts/js/accessibility.js' %}"></script>
	<script src="{% static 'graph/plugins/highcharts/js/highcharts-custom.script.js' %}"></script>
					<script src="{% static 'graph/plugins/datetimepicker/js/legacy.js' %}"></script>
	<script src="{% static 'graph/plugins/datetimepicker/js/picker.js' %}"></script>
	<script src="{% static 'graph/plugins/datetimepicker/js/picker.time.js' %}"></script>
	<script src="{% static 'graph/plugins/datetimepicker/js/picker.date.js' %}"></script>
	<script src="{% static 'graph/plugins/bootstrap-material-datetimepicker/js/moment.min.js' %}"></script>
	<script src="{% static 'graph/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.min.js' %}"></script>
	<script>
		$('.datepicker').pickadate({
			selectMonths: true,
	        selectYears: true
		}),
		$('.timepicker').pickatime()
	</script>
	<script>
		$(function () {
			$('#date-time').bootstrapMaterialDatePicker({
				format: 'YYYY-MM-DD HH:mm'
			});
			$('#date').bootstrapMaterialDatePicker({
				time: false
			});
			$('#time').bootstrapMaterialDatePicker({
				date: false,
				format: 'HH:mm'
			});
		});
	</script>


                    <script>
                        var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

function getMonth(name) {
  return $.inArray(name, months) +1;
}

     $("#recherche_service_militaire").click(function(e){
         var seksu = $('#date').val()
         console.log(seksu)
         var year = seksu.substring(0,4)
         var month  = seksu.substring(5,7)
         var date  = seksu.substring(8,10)
         var final_date = date+month+year

        var objects;
     $.ajax({
    type: "GET",
    url: "http://localhost:8000/graph/recherch/"+ final_date,
    async : true,
    success: function( response ) {
            let dataParsed = JSON.parse(response)

                    var zz = '';
                    zz += '<tbody>';

                 $.each(dataParsed, function(key, val) {
                let jon_name = Object.values(val)[0]
                let order_date = Object.values(val)[1]
                let start_time = Object.values(val)[2]
                let end_time = Object.values(val)[3]
                let execute_time = Object.values(val)[4]
                let status = Object.values(val)[5]
                      zz += "'<tr>";
                      zz +=
                     '<td>'+ jon_name + '</td>' +
                     '<td>' + order_date + '</td>' +
                     '<td>' + start_time + '</td>' +
                     '<td>' + end_time + '</td>' +
                     '<td>' + execute_time + '</td>' +
                     '<td>' +status + '</td>'
                      zz += " </tr>\\n'";
                 })

            zz += '</tbody>';
            $('#khechba tbody').replaceWith(zz);
    }
    })




 });
                    </script>
</body>


<!-- Mirrored from codervent.com/syndash/demo/horizontal/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 31 May 2022 08:10:53 GMT -->
</html>