{% include 'graph/header.html' %}
<head>
    	{% load static %}
	<link href="{% static 'graph/plugins/highcharts/css/highcharts.css' %}" rel="stylesheet" />
	<link href="{% static 'graph/plugins/highcharts/css/highcharts.css' %}" rel="stylesheet" />
</head>

		<!--page-wrapper-->
		<div class="page-wrapper">
			<!--page-content-wrapper-->
			<div class="page-content-wrapper">
				<div class="page-content">
					<!--breadcrumb-->
					<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
						<div class="breadcrumb-title pe-3">La NA du : 06/05/2022</div>
						<div class="ps-3">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb mb-0 p-0">
									<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
									</li>
									<li class="breadcrumb-item active" aria-current="page">Analyse du jour</li>
								</ol>
							</nav>
						</div>
						<div class="ms-auto">
							<div class="btn-group">
								<a href="../indextest2">
								<button type="button" class="btn btn-primary">Précédent</button>
								</a>
								<a href="../index4">
								<button type="button" class="btn btn-primary">Suivant</button>
								</a>
							</div>
						</div>
					</div>
					<!--end breadcrumb-->
                </div>

<div style="min-width: 310px; height: 400px; margin: 0 auto">


    <canvas id="myChart"></canvas>
</div>
            </br>
                </br>
                </br>

                    <div id="container11" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

						<div id="hiden2">
                            <div class="col-12 col-lg-12 mx-auto">

							<div class="card radius-15">
								<div class="card-body">
									<div class="card-title">
										<h4 class="mb-0">Durée d'exécution des Jobs</h4>
									</div>
									<hr/>
									<div class="chart-container2">
										<canvas id="chart7"></canvas>
									</div>
								</div>
							</div>

						</div>
						<div class="col-12 col-lg-12 mx-auto">
							<div class="card radius-15">
								<div class="card-body">
									<div class="card-title">
										<h4 class="mb-0">temps d'exécution du job</h4>
									</div>
									<hr/>
									<div class="chart-container1">
										<canvas id="chart1"></canvas>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-12 mx-auto">
							<div class="card radius-15">
								<div class="card-body">
									<div class="card-title">
										<h4 class="mb-0">Heure de debut et de fin du job</h4>
									</div>
									<hr/>
									<div class="chart-container1">
										<canvas id="chart2"></canvas>
									</div>
								</div>
							</div>
						</div>


						<div class="col-12 col-lg-12 mx-auto">
							<div class="card radius-15">
								<div class="card-body">
									<div class="card-title">
										<h4 class="mb-0">Pie Chart</h4>
									</div>
									<hr/>
									<div class="chart-container2">
										<canvas id="chart3"></canvas>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-12 mx-auto">
							<div class="card radius-15">
								<div class="card-body">
									<div class="card-title">
										<h4 class="mb-0">Radar Chart</h4>
									</div>
									<hr/>
									<div class="chart-container2">
										<canvas id="chart4"></canvas>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-12 mx-auto">
							<div class="card radius-15">
								<div class="card-body">
									<div class="card-title">
										<h4 class="mb-0">Polar area Chart</h4>
									</div>
									<hr/>
									<div class="chart-container2">
										<canvas id="chart5"></canvas>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-12 mx-auto">
							<div class="card radius-15">
								<div class="card-body">
									<div class="card-title">
										<h4 class="mb-0">Doughnut Chart</h4>
									</div>
									<hr/>
									<div class="card-title"></div>
									<div class="chart-container2">
										<canvas id="chart6"></canvas>
									</div>
								</div>
							</div>
						</div>


						</div>









				<script>
function myFunction() {
  var x = document.getElementById("hiden");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
   var y = document.getElementById("hiden2");
  if (y.style.display === "none") {
    y.style.display = "block";
  } else {
    y.style.display = "none";
  }


}
window.onload = myFunction;
</script>




					<div id="hiden">
					<div class="row">
						<div class="col-12 col-lg-6 col-xl-6">
							<div class="card radius-15">
								<div class="card-body">
									<div id="chart1"></div>
								</div>
							</div>
						</div>
                        <div class="col-12 col-lg-12 col-xl-12">
							<div class="card radius-15">
								<div class="card-body">
									<div id="chart12"></div>
								</div>
							</div>
						</div>

						<div class="col-12 col-lg-6 col-xl-6">
							<div class="card radius-15">
								<div class="card-body">
									<div id="chart2"></div>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-6 col-xl-6">
							<div class="card radius-15">
								<div class="card-body">
									<div id="chart33"></div>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-6 col-xl-6">
							<div class="card radius-15">
								<div class="card-body">
									<div id="chart44"></div>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-6 col-xl-6">
							<div class="card radius-15">
								<div class="card-body">
									<div id="chart55"></div>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-6 col-xl-6">
							<div class="card radius-15">
								<div class="card-body">
									<div id="chart66"></div>
								</div>
							</div>
						</div>
					</div>

					<!--end row-->
					<div class="row">

						<div class="col-12 col-lg-12 col-xl-12">
							<div class="card radius-15">
								<div class="card-body">
									<div id="chart77"></div>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-12 col-xl-12">
							<div class="card radius-15">
								<div class="card-body">
									<div id="chart8"></div>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-12 col-xl-12">
							<div class="card radius-15">
								<div class="card-body">
									<div id="chart9"></div>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-12 col-xl-12">
							<div class="card radius-15">
								<div class="card-body">
									<div id="chart10"></div>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-12 col-xl-12">
							<div class="card radius-15">
								<div class="card-body">
									<div id="chart11"></div>
								</div>
							</div>
						</div>
						</div>





					<!--end row-->
				</div>
			</div>
			<!--end page-content-wrapper-->
		</div>
		<!--end page-wrapper-->
		<!--start overlay-->
		<div class="overlay toggle-btn-mobile"></div>
		<!--end overlay-->
		<!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
		<!--End Back To Top Button-->
		<!--footer -->
		<div class="footer">
			<p class="mb-0">Syndash @2020 | Developed By : <a href="https://themeforest.net/user/codervent" target="_blank">codervent</a>
			</p>
		</div>
		<!-- end footer -->
	</div>
	<!-- end wrapper -->
	<!--start switcher-->
	<div class="switcher-body">
		<button class="btn btn-primary btn-switcher shadow-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"><i class="bx bx-cog bx-spin"></i></button>
		<div class="offcanvas offcanvas-end shadow border-start-0 p-2" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling">
		  <div class="offcanvas-header border-bottom">
			<h5 class="offcanvas-title" id="offcanvasScrollingLabel">Theme Customizer</h5>
			<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
		  </div>
		  <div class="offcanvas-body">
			<h6 class="mb-0">Theme Variation</h6>
			<hr>
			<div class="form-check form-check-inline">
			  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="lightmode" value="option1" checked>
			  <label class="form-check-label" for="lightmode">Light</label>
			</div>
			<hr>
			<div class="form-check form-check-inline">
			  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="darkmode" value="option2">
			  <label class="form-check-label" for="darkmode">Dark</label>
			</div>
			<hr>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="radio" name="inlineRadioOptions" id="darksidebar" value="option3">
				<label class="form-check-label" for="darksidebar">Semi Dark</label>
			  </div>
			  <hr>
			 <div class="form-check form-check-inline">
				<input class="form-check-input" type="radio" name="inlineRadioOptions" id="ColorLessIcons" value="option3">
				<label class="form-check-label" for="ColorLessIcons">Color Less Icons</label>
			  </div>
		  </div>
		</div>
	   </div>
	   <!--end switcher-->
	<!-- JavaScript -->
	<!-- Bootstrap JS -->


	<script src="{% static 'graph/js/bootstrap.bundle.min.js' %}"></script>

	<!--plugins-->
	<script src="{% static 'graph/js/jquery.min.js' %}"></script>
	<script src="{% static 'graph/plugins/simplebar/js/simplebar.min.js' %}"></script>
	<script src="{% static 'graph/plugins/metismenu/js/metisMenu.min.js' %}"></script>
	<script src="{% static 'graph/plugins/perfect-scrollbar/js/perfect-scrollbar.js' %}"></script>
	<!-- highcharts js -->
	<script src="{% static 'graph/plugins/highcharts/js/highcharts.js' %}"></script>
	<script src="{% static 'graph/plugins/highcharts/js/highcharts-more.js' %}"></script>
	<script src="{% static 'graph/plugins/highcharts/js/variable-pie.js' %}"></script>
	<script src="{% static 'graph/plugins/highcharts/js/solid-gauge.js' %}"></script>
	<script src="{% static 'graph/plugins/highcharts/js/highcharts-3d.js' %}"></script>
	<script src="{% static 'graph/plugins/highcharts/js/cylinder.js' %}"></script>
	<script src="{% static 'graph/plugins/highcharts/js/funnel3d.js' %}"></script>
	<script src="{% static 'graph/plugins/highcharts/js/exporting.js' %}"></script>
	<script src="{% static 'graph/plugins/highcharts/js/export-data.js' %}"></script>
	<script src="{% static 'graph/plugins/highcharts/js/accessibility.js' %}"></script>
	<script src="{% static 'graph/plugins/highcharts/js/highcharts-custom.script.js' %}"></script>
	<!-- App JS -->
	<script src="{% static 'graph/js/app.js' %}"></script>


<script src="https://cdn.jsdelivr.net/npm/chart.js@^3"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@^2"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@^1"></script>




	<script src="{% static 'graph/plugins/chartjs/js/Chart.min.js' %}"></script>
	<script src="{% static 'graph/plugins/chartjs/js/chartjs-custom.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

<script>
// graph 7
var timeAxis = [];
var dateAxis = [];
var startDate = moment('2000-01-01 00:00');
var endDate = moment('2000-01-01 23:59');
startDate = moment('2019-12-06');
endDate = moment('2019-12-07');

	let optionJob11 = {
		type: 'horizontalBar',
		data: {
			labels: [],
			datasets: [{
				label: "Durée (Secondes)",
				backgroundColor: ["#673ab7", "#673ab7", "#673ab7", "#673ab7", "#673ab7", "#673ab7", "#673ab7", "#673ab7", "#673ab7", "#673ab7", , "#673ab7", "#673ab7", "#673ab7", "#673ab7"
					, "#673ab7", "#673ab7", "#673ab7", "#673ab7", "#673ab7", "#673ab7", "#673ab7", "#673ab7", "#673ab7", "#673ab7", "#673ab7", "#673ab7", "#673ab7", "#673ab7", "#673ab7"
					, "#673ab7", "#673ab7", "#673ab7", "#673ab7", "#673ab7", "#673ab7", "#673ab7"],
				data: []
			}]

		},
		options: {
			maintainAspectRatio: false,
			legend: {
				display: false
			},
			title: {
				display: true,
				text: 'Durée execution job HZ'
			},
			scales: {
        x: {
          type: 'time',
          time: {
            parser: 'HH:mm:ss',
            unit: 'hour',
            displayFormats: {
              hour: 'HH:mm'
            },
            tooltipFormat: 'D MMM YYYY - HH:mm:ss'
          }
        }
      }
		}
	}
	function getDateFromHours2(time) {
    time = time.split(':');
    let now = new Date();
    return new Date(now.getFullYear(), now.getMonth(), now.getDate(), ...time);
}
console.log(getDateFromHours2('01:12:33'));
async function prettyGraph11() {
	var datt = window.location.pathname.split("/")[4];
	var datt2 = window.location.pathname.split("/")[5];
    const res = await $.ajax({
    type: "GET",
    url: "http://localhost:8000/graph/get_duration_per_task/"+datt2,
    async : true,
    success: function( response ) {
		console.log(response)
            let dataParsed = JSON.parse(response["ESMMTAV01"])
		console.log(dataParsed)
            $.each(dataParsed, function(key, val){
                let jobName = Object.keys(val)[0]
                let durationJob = Object.values(val)[0]
				let durationJobs = getDateFromHours2(durationJob)
				console.log('duuurt',durationJobs)
				console.log(typeof (durationJobs))
                optionJob11.data.labels.push(jobName)
                optionJob11.data.datasets[0].data.push(durationJobs)
            })
    }
    })
    return res;
}

async function displayGraph11() {
        await prettyGraph11()
}

// display graph async execution with then
displayGraph11().then(() => {
          new Chart(document.getElementById("myChart"), optionJob11  )
    })
	new Chart(document.getElementById("myChart"), );

	</script>


<script>
    //chart 12
    $(function () {
	var dataToBeUsed16 = []
	var dataToBeUsed17 = []
	var optionJob11 = {
		chart: {
			styledMode: true
		},
		credits: {
			enabled: false
		},
		title: {
			text: 'heure de debut et de fin des Jobs (HZ)'
		},
		xAxis: {
			categories: []
			/* categories: ['ISUTI056-ISU_HIST_CONSO_ANN', 'ISUTI086-ISU_MDR_ECHE1_DETEC', 'ISUTI66K-ISU_IDENT_IBAN_ANONYM', 'ISUTI502-FICA_TRAN_PIEC_FIGL', 'ISUTI042B-ISU_OPTI_TURPE',
			'ISUTI086-ISU_MDR_ECHE1_DETEC','ISUTI495-ISU_CALCUL_FACTURAT_ES','ISUTI66L-ISU_ANONYM_IBAN','NDEBJCHG','NDATE001-ISU_MAJ_ZDATE_NA'] */
		},
		labels: {
                formatter: function () {
                    var time2 = this.value;
                   var currentDate2 = new Date(time2);
                    var hours = currentDate2.getHours();
                    var min = currentDate2.getMinutes();
                    var sec = currentDate2.getSeconds();
                    return hours + ':' + min + ':' + sec;
                   // return time;
               }
          },
		tooltip: {
			formatter: function() {
                    return  '<b>' + this.series.name +'</b><br/>' +
                        Highcharts.dateFormat('%H:%M:%S',new Date(this.y))
                }
		},
		series: [
		{
			type: 'column',
			name: 'Heure de debut',
			data: []
		},
		{
			type: 'column',
			name: 'Heure de fin',
			data: []
		},
		{
			type: 'spline',
			name: 'Average',
			data: [],
			marker: {
				lineWidth: 2,
				lineColor: Highcharts.getOptions().colors[3],
				fillColor: 'white'
			}
		}, ]
	}

	async function prettyGraph11() {
		  var datt = window.location.pathname.split("/")[5];

    const res = await $.ajax({
    type: "GET",
    url: "http://127.0.0.1:8000/graph/end_time_start_time/" + datt,
    async : true,
    success: function(response) {
            let dataParsed = JSON.parse(response["ESMMTAV01"])
            let dataObj = Object.values(dataParsed[0])[0]

            $.each(dataParsed, function(key, val) {
                let jobName = Object.keys(val)[0]
                let start_time = Object.values(val)[1]
                let end_time = Object.values(val)[2]
                 let startTime = (start_time.substring(11,19))
                 let endTime = (end_time.substring(11,19))

				sliceData11(startTime)
				sliceData14(endTime)
                optionJob11.xAxis.categories.push(jobName)
                // optionJob.series[0].data.push(startTime)
                // optionJob.series[1].data.push(endTime)
            })
		optionJob11.series[0].data = dataToBeUsed16
		optionJob11.series[1].data = dataToBeUsed17
    }
    })
    return res;
}
async function sliceData11 (dataHour3) {
      let ms13 = Number(dataHour3.split(':')[0]) * 60 * 60 * 1000 + Number(dataHour3.split(':')[1]) * 60 * 1000 + Number(dataHour3.split(':')[2]) * 1000;
      await dataToBeUsed16.push(ms13)


}

async function sliceData14 (dataHour4) {
      let ms14 = Number(dataHour4.split(':')[0]) * 60 * 60 * 1000 + Number(dataHour4.split(':')[1]) * 60 * 1000 + Number(dataHour4.split(':')[2]) * 1000;

	  await dataToBeUsed17.push(ms14)

}
async function displayGraph11() {
        await prettyGraph11()
}

// display graph async execution with then
displayGraph11().then(() => {
          //Highcharts.chart('container11', optionJob11);
          $('#container11').highcharts( optionJob11);
    })

});


</script>
</body>


<!-- Mirrored from codervent.com/syndash/demo/horizontal/charts-highcharts.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 31 May 2022 08:15:38 GMT -->
</html>